<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/tasks.js"></script>
     <link rel="stylesheet" href="/css/tasks.css">
    <title>Add Tasks</title>
</head>

<body>
    <h1>Tasks</h1>
    <div>
        <a href="/users">User</a>
        <a href="/tasks">Task</a>
    </div>
    <div id="div">
        <button id="addBtn">Add</button>
        <button id="editBtn">Edit</button>
        <button>Delete</button>
    </div>
    <table id="tasks">
        <thead>
            <tr>
                <th></th>
                <th>Task</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                 <td>
                        <input type="checkbox">
                    </td>
                <td>Reading</td>
                <td>complete</td>
            </tr>
            <tr>
                 <td>
                        <input type="checkbox">
                    </td>
                <td>Writing</td>
                <td>Incomplete</td>
            </tr>
            <tr>
                 <td>
                        <input type="checkbox">
                    </td>
                <td>speaking</td>
                <td>complete</td>
            </tr>
        </tbody>
    </table>

</body>