<html>

<head>
   <script src="/js/jquery-3.6.1.js"></script>
        <script src="/js/user.js"></script>
        <link rel="stylesheet" href="/css/user.css">
     <title>User</title>
</head>

<body>
    <h1>
        Users
    </h1>
    <div>
        <a href="/users">Users</a>
        <a href="/tasks">Task</a>
        <div id="div">
            <button id="addBtn">Add</button>
            <button id="editBtn">Edit</button>
            <button>Delete</button>
        </div>
        <br>
        <br>
        <table id="user">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>Arun</td>
                    <td>arun@gmail.com</td>
                    <td>Arun@123</td>
                </tr>
                <tr>
                     <td>
                        <input type="checkbox">
                    </td>
                    <td>Ram</td>
                    <td>ram@gmail.com</td>
                    <td>Ram@123</td>
                </tr>
                <tr>
                     <td>
                        <input type="checkbox">
                    </td>
                    <td>Kumar</td>
                    <td>kumar@gmail.com</td>
                    <td>Kumar@123</td>
                </tr>
            </tbody>
        </table>
</body>

</html>